* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-text-color: #121214;
  --details-text-color: #846aff;
  --button-text-color: #ffffff;
  --input-text-color: #7c7c8a;

  --bg-color: #f8f8ff;

  --card-border-color: #eeeeff;
  --input-border-color: #eaeaea;
}

body {
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

/* sizing the website */
#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

/* header */
header {
  width: 100vw;
  height: 40vh;

  background-color: var(--bg-color);

  display: flex;
  align-items: center;
  justify-content: center;
}

header img {
  width: 230px;
}

header .introduction {
  display: flex;
  flex-direction: column;

  width: 48%;

  gap: 20px;
}

.introduction h2 {
  font-weight: 600;
  font-size: 28px;
}

.introduction h2 > span {
  color: var(--details-text-color);
}

.introduction p {
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
}

.introduction button {
  text-transform: uppercase;
  width: fit-content;
  padding: 11px 22px;

  background-color: var(--details-text-color);
  color: var(--button-text-color);

  border: none;
  border-radius: 4px;
}

.introduction button:hover {
  cursor: pointer;
}

/* main  content */
main {
  width: 100vw;
  margin: 30px 0px;

  display: flex;
  align-items: center;
  justify-content: center;
}

main #content {
  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 63%;
}

main h3 {
  text-align: left;
}

main #posts {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

#posts .post {
  width: 300px;
  height: 280px;

  border: 2px solid var(--card-border-color);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 10px;
}

#posts .post h4 {
  font-weight: 600;
  font-size: 16.8px;
  margin: 10px 0 0 10px;
}

#posts .post p {
  font-weight: 400;
  font-size: 15px;
  margin-left: 10px;
}

/* adding contact info */

footer {
  width: 100vw;

  margin-top: 40px;
  padding: 20px 0 25px 0;

  background-color: var(--bg-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

footer h3 {
  margin: 10px 0 5px 0;
  font-size: 22px;
}

footer div {
  display: flex;
  flex-direction: column;
  gap: 12px;

  width: 580px;
}

footer div input,
footer div textarea {
  padding: 12px 0px 12px 15px;
  border: 1px solid var(--input-border-color);
  border-radius: 4px;

  font-family: "Roboto", sans-serif;
}

footer div textarea {
  height: 180px;
  margin-bottom: 10px;
}

footer div button {
  background-color: var(--details-text-color);
  color: var(--button-text-color);

  border-radius: 4px;
  border: none;
  padding: 10px;
}

footer div button:hover {
  cursor: pointer;
}
